<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-img src="https://i.pinimg.com/736x/92/7b/32/927b322cf6858dd9eddcdfc0ffcc578c.jpg"></ion-img>
    <ion-card-subtitle class="ion-text-center">Foto: Nabila Yussi Fitriana</ion-card-subtitle>
    <div class="ion-text-center">
      <h3>Gregorius Hendry - 00000021064</h3>
      Library luar yang digunakan : Tidak Ada <br>
      UTS ini saya kerjakan dengan sebisa saya dan semampu saya. <br>
      Pengerjaan UTS dilakukan dengan sendiri, namun dibantu oleh video dari youtube pak Alexander Waworuntu.<br>
      Adapun pihak yang sering saya tanya-tanya dalam pembuatan project ini yakni Devira Paramitha. Terima Kasih.
    </div>
  </ion-list>
</ion-content>
